

fuel/app/cache/twig/*
fuel/app/cache/twig/!.gitkeep
fuel/app/logs/*
fuel/app/logs/!.gitkeep
public/assets/cache/*.css
public/assets/cache/*.js

fuel/app/vendor/*
fuel/app/vendor/!.gitkeep
1/*

fuel/app/config/development/migrations.php
fuel/app/config/test/db.php
fuel/app/config/mustached.php
fuel/app/config/simpleauth.php
fuel/app/config/production/db.php
fuel/app/config/production/rest.php

fuel/vendor/*
fuel/vendor/!.gitkeep

fuel/app/modules/*
fuel/app/modules/!install/*
fuel/app/modules/!test/*
fuel/app/modules/!twitter/*