<?php

return array(
	'salt'  => 'iUèl;=$_Iulnfd335j,U',
	'seats' => 12,
	'geolocation' => array(
		'active'  => false,
		'latitude'  => '47.21174260',
		'longitude' => '-1.55152980',
		'accuracy'  => '0.800', // If the user is distant from more than this number (in km), he won't be able to checkin
	),
    'calendar' => array(
        'google_calendar_email' =>  'mustached.robot@gmail.com',
        'google_calendar_password' => 'robotworld',
        'google_calendar_id' => '7m7vdg8v8k5q7u5hvrsnubvpco%40group.calendar.google.com',
    )
);